<form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
        <div class="row">
          <h1>Profile</h1>
        </div>

        <div class="row">
          <div class="col col-lg-4">
            <hr>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Full Name</label>
          <input [(ngModel)]="this.profile.FullName" type="text" class="form-control" name="FullName" required minlength="4" maxlength="42" ngModel #FullName="ngModel">
          <div *ngIf="FullName.errors && (FullName.dirty || FullName.touched)" class="alert alert-danger">
            <div [hidden]="!FullName.errors.required">
              Full name is required!
            </div>
            <div [hidden]="!FullName.errors.minlength">
              Full name must be at least 6 characters long.
            </div>
            <div [hidden]="!FullName.errors.maxlength">
              Full name cannot be more than 42 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="name">BirthDay</label>
          <input [(ngModel)]="this.profile.BirthDay" type="date" class="form-control" name="BirthDay" required length="10" ngModel #BirthDay="ngModel">
          <div *ngIf="BirthDay.errors && (BirthDay.dirty || BirthDay.touched)" class="alert alert-danger">
            <div [hidden]="!BirthDay.errors.required">
              Birthday is required!
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="Email">Email</label>
          <input [(ngModel)]="this.profile.Email" type="text" class="form-control" name="Email" ngModel required #Email="ngModel"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <div *ngIf="Email.errors && (Email.dirty || Email.touched)"
           class="alert alert-danger">  
            <div [hidden]="!Email.errors.required">
              Email is required!
            </div>
            <div [hidden]="!Email.errors.pattern">
              Email form is invalid (example jondoe@gmail.com)
            </div>
          </div>
        </div>

        <!--<form *ngIf="!checkIfUploaded()" #form = "ngForm" class="groove">-->

        <!-- File Button --> 
        <div *ngIf="profile.PersonalDocument==null" class="row">
          <div class="col col-lg-4 col-lg-push-4">
            <img [src]="imageUrl" style="width:250px; height:150px">
            <br>
            <br>
            <input type="file" (change)="handleFileInput($event.target.files)" #Image accept="image/*">
            <br>
          </div>
        </div>
      
        <br>
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save Changes</button>
      </div>
  </div>
</form>