<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
        <div class="row">
          <h1>Sign Up</h1>
        </div>

        <div class="row">
          <p>Please fill in this form to create an account.</p>
        </div>

        <div class="row">
          <div class="col col-lg-4">
            <hr>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" name="FullName" required minlength="5" maxlength="42" ngModel #FullName="ngModel">
          <div *ngIf="FullName.errors && (FullName.dirty || FullName.touched)" class="alert alert-danger">
            <div [hidden]="!FullName.errors.required">
              Full name is required!
            </div>
            <div [hidden]="!FullName.errors.minlength">
              Full name must be at least 5 characters long.
            </div>
            <div [hidden]="!FullName.errors.maxlength">
              Full name cannot be more than 42 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="Email" ngModel required #Email="ngModel"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <div *ngIf="Email.errors && (Email.dirty || Email.touched)"
           class="alert alert-danger">  
            <div [hidden]="!Email.errors.required">
              Email is required!
            </div>
            <div [hidden]="!Email.errors.pattern">
              Email form is invalid (example jondoe@gmail.com)
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="Password" ngModel required minlength="7" maxlength="42" #Password="ngModel">
          <div *ngIf="Password.errors && (Password.dirty || Password.touched)"
           class="alert alert-danger">  
            <div [hidden]="!Password.errors.required">
              Password is required!
            </div>
            <div [hidden]="!Password.errors.minlength">
              Password min length is 7 characters.
            </div>
            <div [hidden]="!Password.errors.maxlength">
              Password max length is 42 characters.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="repeatedPassword">Repeat Password</label>
          <input type="password" class="form-control" name="RepeatedPassword" ngModel required #RepeatedPassword="ngModel">
          <div *ngIf="(RepeatedPassword.dirty || RepeatedPassword.touched)"
           class="alert alert-danger">  
            <div [hidden]="Password.value == RepeatedPassword.value">
              Password doesn't match
            </div>
          </div>
        </div>

        <br>
          <button type="submit" class="btn btn-success" [disabled]="!f.valid" >Submit</button>
      </div>
  </div>
</form>