<form>
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div class="container">
        <div class="row">
          <h1>Sign Up</h1>
        </div>

        <div class="row">
          <p>Please fill in this form to create an account.</p>
        </div>

        <div class="row">
          <div class="col col-lg-4">
            <hr>
          </div>
        </div>

        <div class="row">
        <label><b>Name</b></label>
        </div>

        <div class="row">
            <div class="col col-lg-4">
              <input type="text" placeholder="Enter Full Name" required>
            </div>
        </div>

        <div class="row">
        <label for="email"><b>Email</b></label>
        </div>

        <div class="row">
            <div class="col col-lg-4">
              <input type="text" placeholder="Enter Email" name="email" required>
            </div>
        </div>

        <div class="row">
        <label><b>Username</b></label>
        </div>

        <div class="row">
            <div class="col col-lg-4">
              <input type="text" placeholder="Enter Username" required>
            </div>
        </div>

        <div class="row">
        <label for="psw"><b>Password</b></label>
        </div>

        <div class="row">
            <div class="col col-lg-4">
              <input type="password" placeholder="Enter Password" name="psw" required>
            </div>
        </div>

        <div class="row">
            <label for="psw-repeat"><b>Repeat Password</b></label>
        </div>

        <div class="row">
            <div class="col col-lg-4">
              <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            </div>
        </div>

        <br>

        <div>
          <button class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-danger">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>