
<form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
<fieldset>

<!-- Form Name -->
<legend>Add branch:</legend>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">Picture</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Address:</label>  
  <div class="col-md-4">
  <input id="Address" name="Address" type="text" placeholder="" class="form-control input-md" ngModel required #Address="ngModel">    
  </div>
</div>

<div class="row">
  <div class="col col-lg-4 col-lg-push-4">
    <div *ngIf="Address.errors && (Address.dirty || Address.touched)"
          class="alert alert-danger">  
        <div [hidden]="!Address.errors.required">
          Address is required!
        </div>
        <div [hidden]="!Address.errors.pattern">
          Address form is invalid
        </div>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Latitude:</label>  
  <div class="col-md-4">
  <input id="Latitude" name="Latitude" type="text" placeholder="" class="form-control input-md" ngModel required #Latitude="ngModel">   
  </div>
</div>

<div class="row">
  <div class="col col-lg-4 col-lg-push-4">
    <div *ngIf="Latitude.errors && (Latitude.dirty || Latitude.touched)"
          class="alert alert-danger">  
        <div [hidden]="!Latitude.errors.required">
          Latitude is required!
        </div>
        <div [hidden]="!Latitude.errors.pattern">
          Latitude form is invalid
        </div>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Longitude:</label>  
  <div class="col-md-4">
  <input id="Longitude" name="Longitude" type="text" placeholder="" class="form-control input-md" ngModel required #Longitude="ngModel">   
  </div>
</div>

<div class="row">
  <div class="col col-lg-4 col-lg-push-4">
    <div *ngIf="Longitude.errors && (Longitude.dirty || Longitude.touched)"
          class="alert alert-danger">  
        <div [hidden]="!Longitude.errors.required">
          Longitude is required!
        </div>
        <div [hidden]="!Longitude.errors.pattern">
          Longitude form is invalid
        </div>
    </div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-success" [disabled]="!f.valid">Add</button>
  </div>
</div>

</fieldset>
</form>

