<!-- Login form -->
<div class="row">
  <div class="col col-lg-4 col-lg-push-4">
      <div class="container">
          <div class="row">
            <div class="col col-lg-4">
              <div class="page-header">
                <h1>Login <small>with existing account</small></h1>  
              </div> 
            </div>
          </div>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="row">
              <div class="col col-lg-4">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="Email" type="text" class="form-control" name="Email" placeholder="Email" ngModel required #Email="ngModel"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4">
                <div *ngIf="Email.errors && (Email.dirty || Email.touched)"
                      class="alert alert-danger">  
                    <div [hidden]="!Email.errors.required">
                      Email is required!
                    </div>
                    <div [hidden]="!Email.errors.pattern">
                      Email form is invalid (example jondoe@gmail.com)
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-4"> 
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input id="Password" type="Password" class="form-control" name="Password" placeholder="Password" ngModel required minlength="7" maxlength="42" #password="ngModel">
                </div>
              </div>
            </div>
            <div *ngIf="Password.errors && (Password.dirty || Password.touched)"
           class="alert alert-danger">  
              <div [hidden]="!Password.errors.required">
                Password is required!
              </div>
              <div [hidden]="!Password.errors.minlength">
                Password min length is 7 characters.
              </div>
              <div [hidden]="!Password.errors.maxlength">
                Password max length is 42 characters.
              </div>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-success" [disabled]="!f.valid">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
          </form>
        </div>

        <!--<button class="btn btn- danger" (click)="register()">  reg </button>
        <ul>
          <li *ngFor="let user of users">{{user.Id}} {{user.FullName}}</li>
        </ul>-->
  </div>
</div>