<div class="row">
  <div class="col col-md-4 col-md-push-4">
    <legend align="center">Services</legend>
  </div>
</div>

<div *ngFor="let service of Services">
  <div class="row">
    <div class="col col-md-4 col-md-push-4">
      <div class="container">
        <div id="products" class="row list-group">
          <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail" align="center">
              <img class="group list-group-image" src='http://localhost:51680/api/Services/GetImage?path={{service.Logo}}' alt="" />
              <div class="caption">
                <h4 class="group inner list-group-item-heading">{{service.Name}}</h4>
                <p class="group inner list-group-item-text"> <i>Contact: </i>{{service.Email}}</p>
                <p class="group inner list-group-item-text"> <i>Description: </i>{{service.Description}}</p>
                <div class="row">
                    <h3><span class="glyphicon glyphicon-th-list"></span>Branches</h3>
                    <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok"></span> Add Branch
                    </button>
                    <br>
                    <br>
                    <app-list-of-branches [serviceEmail]=service.Email></app-list-of-branches>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>