<form #f="ngForm" (ngSubmit)="onSubmit(f.value,Image)" class="form-horizontal">
  <fieldset>
  
  <!-- Form Name -->
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <legend align="center">Add Service</legend>
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Service Name</label>  
    <div class="col-md-4">
    <input id="Name" name="Name" type="text" placeholder="" class="form-control input-md" ngModel required #Name="ngModel">      
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="Name.errors && (Name.dirty || Name.touched)"
            class="alert alert-danger">  
          <div [hidden]="!Name.errors.required">
            ServiceName is required!
          </div>
          <div [hidden]="!Name.errors.pattern">
            ServiceName form is invalid
          </div>
      </div>
    </div>
  </div>
  
  <!-- File Button --> 
  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <img [src]="imageUrl" style="width:250px; height:150px">
      <br>
      <br>
      <input type="file" (change)="handleFileInput($event.target.files)" #Image accept="image/*">
      <br>
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">E-mail</label>  
    <div class="col-md-4">
    <input id="Email" name="Email" type="text" placeholder="" class="form-control input-md" ngModel required #Email="ngModel">      
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-4 col-lg-push-4">
      <div *ngIf="Email.errors && (Email.dirty || Email.touched)"
            class="alert alert-danger">  
          <div [hidden]="!Email.errors.required">
            Email is required!
          </div>
          <div [hidden]="!Email.errors.pattern">
            Email form is invalid (example jondoe@gmail.com)
          </div>
      </div>
    </div>
  </div>
  
  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Description</label>
    <div class="col-md-4">                     
      <textarea class="form-control" id="Description" name="Description" ngModel  #Description="ngModel"></textarea>
    </div>
  </div>
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="addServiceButton"></label>
    <div class="col-md-4">
      <button type="submit" id="addServiceButton" name="addServiceButton" class="btn btn-success" [disabled]="!f.valid || Image.value==''">Add Service</button>
    </div>
  </div>
  
  </fieldset>
  </form>