<div class="row">
  <div class="col col-md-12 col-md-push-4">
    <h1>PORNO MAFIJA</h1>
    <img src='/assets/images/PornoMafija.jpg' style="width:35%;height:35%">
    <br>
    <br>
    <p>Clanovi Porno Mafije trenutno drze svetski rekord kao kamperi u Jugodrvu. </p>
    <p>Ovi mladi momci su uspeli da spoje satnicu od 21/6/2018 8:00AM do 22/6/2018 3:45:38AM</p>
    <p>I posle mukotrpnog rada uspeli su da sacuvaju osmeh na licu, neki od clanova tima su </p>
    <p>takodje uspeli da obore rekord vrsenja velike nuzde u toaletu jugodrva u periodu od 24h</p>
    <p>U prvom planu se nalazi Dejan Pavlovic (Mica je jedina rec koja ga moze opisati na pravi nacin</p>
    <p>Desno od Dejana nalazi se Dragan Stankovic poznatiji kao Gandor, za njega govore da</p>
    <p>je dobar momak, mada informacija nije sigurna jer je decko dosao iz Brestovca.</p>
    <p>U pozadini se nalazi Branislav Trkulja zvani Branci, inace veliki patriota i covek koji</p>
    <p>potice iz plemicke familije Trkulja.</p>
    <p>Decko na slici koji drzi podignut kaziprst zove se Vukasin Ilicic i nije bas najbistriji u glavi, </p>
    <p>ali zbog svoje velikodusnosti ljudi ga trpe iako je strasno naporan</p>
    <p>Djordje Urankar - Djoka (skroz desno) je krsan momak iz Kostolca i buduci direktor u tamosnjoj elektrani</p>
  </div>
</div>